.fundInfo{
	width: 535px;
}

.fund{
	border: 2px solid #9E9E9E;
	padding:5px;
	display: inline-block;
	width: 250px;
	margin: 1px;
	text-align: center;
	cursor: pointer;
}
.fund.have{
	border-color:#0087dc;
}
.info{
	color:#424242;
	position: relative;
}
.info.green .diff{
	color:#4CAF50;
}
.info.red .diff{
	color:#F44336;
}
.title{
	font-size: 16px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.value{
	font-weight: bold;
	font-size: 22px;
	display: inline-block;
	margin: 0px;
	width: 45%;
}
.diff{
	font-size: 16px;
	display: inline-block;
	margin: 0px;
	width: 55%;
	text-align: left;
	white-space: nowrap;
}
.update{
	position: absolute;
	font-size: 12px;
	text-align: right;
	color: grey;
	bottom: 0px;
	right: 5px;
}
footer {
	text-align: center;
	margin-top:5px;
}
footer a{
	display: inline-block;
	color: #2196F3;
}
footer .addNew{
	color: white;
	border: none;
	margin-left: 30px;
	background-color: #4CAF50;
	size: 18px;
}